<div class="card">
    <div class="card-body">
      <form>
        
        <div class="form-group" style="margin: 20px;">
            <label class="col-md-4">id: </label>
          <input type="number" disabled="true" value="{{book.id}}"  class="form-control"  #id />
        </div>
        

        <div class="form-group" style="margin: 20px;">
          <label class="col-md-4">author: </label>
          <input type="text" class="form-control" value="{{book.author}}" #author/>
        </div>
        <div class="alert alert-danger" hidden>
          <div>
            Title is required.
          </div>
        </div>

        <div class="form-group" style="margin: 20px;">
          <label class="col-md-4">price:</label>
          <input type="text" class="form-control"  value="{{book.price}}" #price />
        </div>
        <div class="alert alert-danger" hidden>
          <div>
            Author name is required.
          </div>
        </div>

        <div class="form-group" style="margin: 20px;">
            <label class="col-md-4">Release date:</label>
            <input type="date" class="form-control"  value="{{book.releasedate}}" #releasedate />
          </div>
          <div class="alert alert-danger" hidden>
            <div>
              Release date is required.
            </div>
        </div>

        <div class="form-group" style="margin: 20px;">
            <label class="col-md-4">title:</label>
            <input type="text" class="form-control"  value="{{book.title}}" #title />
          </div>
          <div class="alert alert-danger" hidden >
            <div>
              Price is required.
            </div>
        </div>

        <div class="form-group" style="margin: 20px;">
          <a class="nav-link" routerLink="/dashboard/books" routerLinkActive="active">
          <button (click) = "updateBook(id.value,author.value,price.value,releasedate.value,title.value)" type="submit" class="btn btn-primary" >
            Edit book
          </button>
        </a>
        </div>
      </form>
    </div>
</div>


<!--<form>
    <div>
        <label>ISBN: </label>
        <input type="number" value="{{book.isbn}}" #ISBN/>
    </div>
    <div>
        <label>Title: </label>
        <input type="text"  value="{{book.title}}" #title/>
    </div>
    <div>
        <label>Author name: </label>
        <input type="text"  value="{{book.authorName}}" #authorName/>
    </div>
    <div>
        <label>Release date: </label>
        <input type="date"  [(ngModel)]="book.releaseDate" [ngModelOptions]="{standalone: true}" #releaseDate/>
    </div>
    <div>
        <label>Price: </label>
        <input type="number"  value="{{book.price}}" #price/>
    </div>
    <div>
        <button type="submit" (click)="update(ISBN.value,title.value,authorName.value,releaseDate.value,price.value)">Edit</button>
    </div>
</form>-->